<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <!-- Navbar du portfolio -->
        <nav>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="index.html" class="link-logo">Érick Ouellette</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="link">À propos</a>
                </li>
                <li class="nav-item">
                    <a href="#projets" class="link">Projets</a>
                </li>
                <li class="nav-item">
                    <a href="#compétences" class="link">Compétences</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="link">Me contacter</a>
                </li>
                <li class="nav-item">
                    <!-- Bouton clair/sombre-->
                    <button @click="toggleTheme" class="toggle"></button>
                </li>
            </ul>
        </nav>

        <!-- Nav mobile -->
        <div class="Mobilenav">
            <a href="index.html" class="logo">ÉO</a>
            <!-- Icône Menu hamburger-->
            <button class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        <!--Menu hamburger-->
        <nav class="menu" id="menu">
            <ul>
                <li><a href="#about">À propos</a></li>
                <li><a href="#projets">Projets</a></li>
                <li><a href="#compétences">Compétences</a></li>
                <li><a href="#contact">Me contacter</a></li>
                <!-- Bouton clair/sombre-->
                <li><button @click="toggleTheme" class="toggle_menu"></button></li>
            </ul>
        </nav>

        <main>
            <!-- Titre du portfolio -->
            <section class="Titre">
                <h1 class="portfolio">Portfolio</h1>
            </section>

            <!-- Section À propos -->
            <section id="about" class="About">
                <img src="img/erick_ouellette.png" alt="" class="photo_profil">
                <div class="Description">
                    <h2>À propos</h2>
                    <p>Je m'appelle Érick Ouellette, étudiant en technique d'intégration au multimédia au collège
                        Montmorency. Depuis ma jeunesse, je suis passioné des jeux-vidéos et d'animation, des médiums
                        qui poussent la créativité et qui racontent des histoires marquantes. C'est pour cela que je me
                        suis intéressé à devenir un artiste en 3d. Dans ce site, vous verrez les projets que j'ai fait
                        durant mes apprentissages et les compétences que j'ai acquis.</p>
                </div>
            </section>

            <!-- Section Projets -->
            <section id="projets" class="Projets">
                <h2>Projets</h2>
                <!-- Cartes -->
                <div class="wrapper">
                    <div class="image" 
                        v-for="project in projects" 
                        :key="project.id"
                        @click="openModal('modal' + project.id)">
                        <img :src="project['grid-image']" class="wrapper_img" alt="">
                        <div class="content">
                            <h3>{{project.title}}</h3>
                        </div>
                    </div><!--Modal (pop-up)-->
                    <div class="modal" v-for="project in projects" :id="'modal' + project.id"
                        :key="'modal' + project.id">
                        <button class="close" @click="closeModal('modal' + project.id)">X</button>
                        <h1 class="modal-titre">{{project.title}}</h1>
                        <!--Lien vers document/vidéo/site --><!-- Target blank permet d'ouvrir le lien vers une autre fenêtre-->
                        <a v-if="project.link" :href="project.link" target="_blank">
                            <img class="modal-content" :src="project['image-modal']">
                        </a>
                        <!--Éléments textuels de description du projet-->
                        <div class="modal-grid"> <!-- Grid pour cette partie des informations-->
                            <div class="modal-cours">{{project.category}}</div>
                            <div class="modal-nombre">{{project.nombre}}</div>
                            <div class="modal-role">{{project.role}}</div>
                            <div class="modal-logiciels">{{project.logiciels}}</div>
                        </div>
                        <div class="modal-team">{{project.team}}</div>
                        <div class="modal-intro">{{project.intro}}</div>
                        <div class="modal-description">{{project.description}}</div> <div class="modal-processus_texte">{{project.texte}}</div>
                        <!-- Ceci fait en sorte d'afficher les images d'un seul projet -->
                        <div class="modal-processus" v-if="project.images?.length">
                            <img v-for="(img, i) in project.images" :src="img" :key="i" alt="">
                        </div>
                       
                    </div>
                </div>
            </section>

            <!--Section compétences-->
            <section id="compétences" class="Compétences">
                <h2>Compétences</h2>
                <div class="apps">
                    <!--Lien sur les images qui mènent au sites web-->
                    <a href="https://www.figma.com/" target="_blank"><img src="img/figma.png" alt=""></a>
                    <a href="https://code.visualstudio.com/" target="_blank"><img src="img/visual-studio.png" alt=""></a>
                    <a href="https://www.blackmagicdesign.com/ca/products/davinciresolve" target="_blank"><img src="img/davinci.png" alt=""></a>
                    <a href="https://github.com/" target="_blank"><img src="img/github.png" alt=""></a>
                    <a href="https://www.adobe.com/ca/products/photoshop.html" target="_blank"><img src="img/photoshop.png" alt=""></a>
                    <a href="https://www.reaper.fm/" target="_blank"><img src="img/reaper.png" alt=""></a>
                    <a href="https://www.blender.org/" target="_blank"><img src="img/blender.png" alt=""></a>
                    <a href="https://www.autodesk.com/ca-en/products/maya/overview" target="_blank"><img src="img/maya.png" alt=""></a>
                </div>
            </section>

            <!--Section Contact-->
            <section id="contact">
                <h2>Me contacter</h2>
                <h3>erickouellette1105@gmail.com</h3>
                <a href="https://www.linkedin.com/in/%C3%A9rick-ouellette-aa4573293/"><img src="img/linkedin.png"
                        class="linkedin"></a>
            </section>

            <footer>
                <p class="credits">© Érick Ouellette</p>
            </footer>
        </main>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>

</body>

</html>