/* Variables de couleurs mode clair */
:root {
    --bg-color: #ffff;
    --text-color: black;
    --rgba-color: rgba(0, 0, 0, 0.5);
}

/* Variables de couleurs mode sombre */
body.dark {
    --bg-color: rgb(14, 14, 14);
    --text-color: white;
    --rgba-color: rgba(255, 255, 255, 0.5);
}


html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
}

main {
    margin-top: 30px;
    background-color: var(--bg-color);
}

/* Navbar */
.nav-list {
    background-color: var(--bg-color);
    box-shadow: 5px 5px 20px var(--text-color);
    margin: 0;
    padding: 1rem 0;
    /* Alignement au centre */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;


}


/* Bouton clair/sombre */
.toggle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--text-color);
}


/* Menu hamburger caché */

.Mobilenav {
    display: none;
}

.menu {
    display: none;
}


/* Espacement et style des liens de navbar */
.nav-item {
    list-style: none;
    margin-right: 12.5rem;
}

.nav-item a {
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-family: "Alegreya";
    font-size: 30px;
}

/* Effet survol */
.nav-item a:hover {
    color: var(--text-color);
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* Style Italique sur le logo */
.link-logo {
    font-style: italic;

}

/* Titre Portfolio */
.portfolio {
    color: var(--text-color);
    font-size: 15rem;
    font-style: italic;
    font-family: "Alegreya";
    display: flex;
    justify-content: center;
    margin-top: 15rem;
    opacity: 1;
 }

/* Espacement de la section À propos */
.About {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30rem;
    justify-content: center;
    grid-template-columns: auto auto;
    column-gap: 5em;
}

/* Photo profil */
.photo_profil {
    width: 25vw;
    height: auto;
    border-radius: 5px;
}

/* Style des titres */

h2 {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin-top: 15rem;
    /* Couleur de base qui sera modifié en survol */
    color: rgb(110, 110, 110);

}

/* Effet survol sur les titres */
h2:hover {
    color: var(--text-color);
    text-decoration: underline;
    /* Un offset permet au soulignage de paraître plus naturel et de ne pas acrocher le texte */
    text-underline-offset: 25px;
}



/* Style unique de position pour ce titre */
.Description h2 {
    margin-top: 0;
    margin-right: 10rem;
    font-size: 4rem;
}


/* Taille du texte de description */
p {
    width: 25rem;
    font-family: "Alegreya";
    color: var(--text-color);
}



/* Conteneur des cartes "Parent" */
.wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    column-gap: 4em;
    row-gap: 4em;
}

.image {
    width: 100%;
    position: relative;
}

.wrapper_img {
    width: 100%;
    display: block;
    margin: auto;
    border: 1px solid var(--text-color);
    border-radius: 5px;
}

/* Contenu de la carte */
.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* Background plus sombre qui apparait au survol des projets */
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.2s;
    border-radius: 5px;
    /* Ceci prévient l'interruption de l'effet hover que le Onclick causait */
    pointer-events: none;

}

/* Effet survol qui dévoile le titre */
.image:hover .content {
    opacity: 1;
    box-shadow: 0 0 20px var(--text-color);
}

/* Titre de la carte */
.image .content h3 {
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
}

/* Mouvement du titre au survol */
.image .content>* {
    transform: translateY(25px);
    transition: transform 0.6s;
}

.image:hover .content>* {
    transform: translateY(0px);
}

/* Pop-up des cartes */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--bg-color);
    border: none;
}

/* Placement de l'image de la modale  */
.modal-content {
    background-color: var(--bg-color);
    display: block;
    margin: auto;
    width: 40vw;
    border: 0.1px solid var(--text-color);
    height: auto;

}

/* Élément pour fermer la modal */
.close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Éléments textuels de la modal */
.modal-titre {
    color: var(--text-color);
    text-align: center;
    font-size: 4rem;
    margin-top: 20px;
    font-family: "Alegreya";
}


.modal-cours {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-top: 20px;
    font-family: "Alegreya";
}

.modal-nombre {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-top: 20px;
    font-family: "Alegreya";
}

.modal-team {
    color: var(--text-color);
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
    font-family: "Alegreya";
}

.modal-role {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-top: 20px;
    font-family: "Alegreya";
}

.modal-logiciels {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-top: 20px;
    font-family: "Alegreya";
}

.modal-intro {
    color: var(--text-color);
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
    font-family: "Alegreya";
}

.modal-description {
    color: var(--text-color);
    text-align: center;
    font-size: 1.2rem;
    width: 55rem;
    margin-left: 50rem;
    margin-top: 50px;
    font-family: "Alegreya";
}

.modal-processus {
    color: var(--text-color);
    font-size: 1rem;
    margin-top: 20px;
    font-family: "Alegreya";
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    gap: 15px;
}

/* Grille qui qui place les informations clés sur une même ligne */
.modal-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    column-gap: 5rem;
}

/* Taille des images de processus */
.modal-processus img {
    max-width: 15rem;
}

/* Style du texte de processus */
.modal-processus_texte {
    color: var(--text-color);
    text-align: center;
    font-size: 1.2rem;
    max-width: 60rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 47rem;
    font-family: "Alegreya";
}

/* Style des h3 */
h3 {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-family: "Alegreya";
}

/* Placement en grille des applications avec un petit espace entre eux*/
.apps {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    column-gap: 5rem;
}

/* Taille des applications */
.apps img {
    width: 4rem;

}

/* Effet hover pour valoriser les applications */
.apps img:hover {
    transform: translateY(-10px) scale(1.2);
    transition: transform 0.2s;
}

/* Logo Linkedin */
.linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 6rem;
    padding-bottom: 4rem;
}


/* Section Contact */
#contact {
    color: var(--text-color);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    margin-left: 17rem;
}



/* Section Mobile */

@media (max-width: 480px) {

    /* Navbar */
    .nav-list {
        display: none;
    }

    /* Navbar movile */
    .Mobilenav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        background-color: var(--bg-color);
        box-shadow: 0 1px 4px var(--rgba-color);
        position: sticky;

    }

    /* Logo mobile */
    .logo {
        font-size: 2rem;
        text-decoration: none;
        color: var(--text-color);
    }


    /* Hamburger */
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        background: none;
        border: none;
        padding: 0;
        margin: 20px;
    }

    /* Style d'apparence du bouton hamburger */
    .hamburger span {
        display: block;
        height: 4px;
        background: var(--text-color);
        border-radius: 2px;
        transition: 0.3s;
    }

    /* Bouton clair/sombre */
    .toggle_menu {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: var(--text-color);
        margin-top: 20px;
    }

    /* menu hamburger */
    .menu {
        display: none;
        background: var(--bg-color);
        padding: 20px;
        box-shadow: 0 0 20px var(--text-color);
    }

    /* Liste d'éléments du menu */
    .menu ul {
        list-style: none;
        padding: 0;

    }

    /* éléments du menu */
    .menu li {
        margin: 10px 0;
        font-size: 1.5rem;
    }

    a {
        text-decoration: none;
        color: var(--text-color);
    }

    /* Toggle class */
    .menu.active {
        display: block;
    }

    /* Titre Portfolio */
    .portfolio {
        font-size: 3rem;
        font-style: italic;
        font-family: "Alegreya";
        display: flex;
        justify-content: center;
        margin-top: 7rem;
        color: var(--text-color);
    }

    /* Espacement de la section À propos */

    .About {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 4rem;
    }

    /* Photo du profil */
    .photo_profil {
        width: 24rem;
        border-radius: 20px;

    }

    /* Style du titre h2 */
    h2 {
        display: flex;
        justify-content: center;
        font-size: 3.5rem;
        margin-top: 7rem;
        margin-right: 1rem;
        color: rgb(110, 110, 110);

    }

    /* Effet survol sur les titres */
    h2:hover {
        color: var(--text-color);
        text-decoration: underline;
        text-underline-offset: 15px;
    }


    /* Style des h3 */
    h3 {
        display: flex;
        justify-content: center;
        padding: 2rem;
        font-family: "Alegreya";
    }

    /* Style unique de position pour ce titre */
    .Description h2 {
        display: flex;
        justify-content: center;
        margin-right: 1rem;
        margin-top: 6rem;
        font-size: 3.5rem;
    }


    /* Taille du texte de description */
    p {
        width: 20rem;
    }

    /* Conteneur des cartes "Parent" */
    .wrapper {
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
        column-gap: 4em;
        row-gap: 4em;
    }

    /* Taille de images */
    .image {
        width: 400px;
        position: relative;

    }

    .wrapper_img {
        width: 100%;
        display: block;
        margin: auto;
        border: 1px solid var(--text-color);
        border-radius: 5px;
    }

    /* Contenu de la carte */
    .content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: 0.6s;
        border-radius: 5px;
    }

    /* Effet survol qui dévoile le titre */
    .content:hover {
        opacity: 1;
    }

    /* Titre de la carte */
    .content h3 {
        font-size: 1.5rem;
        color: white;
        margin-top: 1rem;
    }

    /* Mouvement du titre au survol */
    .content>* {
        transform: translateY(25px);
        transition: transform 0.6s;
    }

    .content:hover>* {
        transform: translateY(0px);
    }

    /* Placement de l'image de la modale  */
    .modal-content {
        background-color: var(--bg-color);
        display: block;
        margin: auto;
        width: 80vw;
        border: 0.1px solid var(--text-color);
        height: auto;

    }

    /* Éléments textuels de la modal */

    .modal-titre {
        color: var(--text-color);
        text-align: center;
        font-size: 2rem;
        margin-top: 20px;
        font-family: "Alegreya";
    }


    .modal-cours {
        color: var(--text-color);
        text-align: center;
        font-size: 1.5rem;
        margin-top: 20px;
        font-family: "Alegreya";
    }

    .modal-nombre {
        color: var(--text-color);
        text-align: center;
        font-size: 1.5rem;
        margin-top: 20px;
        font-family: "Alegreya";
    }

    .modal-team {
        color: var(--text-color);
        text-align: center;
        font-size: 1.5rem;
        margin-top: 20px;
        font-family: "Alegreya";
    }

    .modal-role {
        color: var(--text-color);
        text-align: center;
        font-size: 1.5rem;
        margin-top: 20px;
        font-family: "Alegreya";
    }

    .modal-logiciels {
        color: var(--text-color);
        text-align: center;
        font-size: 1.5rem;
        margin-top: 20px;
        font-family: "Alegreya";
    }

    .modal-intro {
        color: var(--text-color);
        text-align: center;
        font-size: 1.3rem;
        margin-top: 20px;
        font-family: "Alegreya";
    }

    .modal-description {
        color: var(--text-color);
        text-align: center;
        font-size: 1.2rem;
        width: 20rem;
        margin-left: 3rem;
        margin-top: 40px;
        font-family: "Alegreya";
    }

    .modal-processus {
        color: var(--text-color);
        font-size: 1rem;
        margin-top: 20px;
        font-family: "Alegreya";
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
        gap: 15px;
    }

    .modal-processus img {
        width: 20rem;
    }

    .modal-processus_texte {
        color: var(--text-color);
        text-align: center;
        font-size: 1.2rem;
        width: 23rem;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 1.5rem;
        font-family: "Alegreya";
    }
     /* Effet grid sur les images dans la modal */
    .modal-grid {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        column-gap: 1rem;
    }

    /* Effet grid sur les applications */
    .apps {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto;
        column-gap: 8rem;
        row-gap: 5rem;
    }

    /* Taille des images des applications */
    .apps img {
        width: 5rem;
    }

    /* Effet hover sur les applications */
    .apps img:hover {
        transform: translateY(-10px) scale(1.2);
        transition: transform 0.2s;

    }


    /* Style du linkedin */
    .linkedin {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 6rem;
        padding-bottom: 4rem;
    }

    #contact {
        color: var(--text-color);
    }


    footer {
        display: flex;
        justify-content: center;
        margin-left: 10rem;
    }

}