* {
    box-sizing: border-box;
  }


  html,
body {
  height: 100%;
  margin: 0;
  background-color: #ffff;
}

/* Navbar */
.nav-list {
    background-color: #ffff;
    box-shadow: 0px 0px 10px color(srgb rgb(23, 10, 10) green blue);
    margin: 0;
    padding: 1rem 0;
    /* Alignement au centre */
    display: flex;
    justify-content: center;
    align-items: center;

}


/* Espacement et style des liens de navbar */
.nav-item {
    list-style: none;
    margin-right: 7.5rem;
}

.nav-item a {
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-family: "Alegreya";
    font-size: 20px;
}
/* Effet survol */
.nav-item a:hover {
    color: black;
    text-decoration: underline;
}

/* Style Italique sur le logo */
.link-logo {
    font-style: italic;
   
}

/* Titre Portfolio */
h1 {
    font-size: 8rem;
    font-style: italic;
    font-family: "Alegreya";
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}

/* Espacement de la section À propos */

.Description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30rem;
    margin-top: 15rem;
}

h2 {
   margin-right: 19rem;
   font-size: 3rem;
}

/* Boîte qui sera remplacée par ma photo */

.image {
    width: 150px;
    height: 150px;
    border: black;
}